:root {
  --bg-color: #ffffff;
  --footer-bg-color: #000000;

  --text-color: #000000;
  --text-hero-color: #ffffff;
  --text-footer-color: #cacaca;

  --button-color: #ff9900;
  --button-hover-color: #ffb84d;
  --button-focus-color: #ffb84d;
  --button-active-color: #e1670e;

  --button2-color: #ffffff;
  --button2-hover-color: #ff9900;
  --button2-focus-color: #ff9900;
  --button2-active-color: #e1670e;

  --button3-color: #ffffff;
  --button3-hover-color: #666666;
  --button3-focus-color: #666666;
  --button3-active-color: #000000;

  --input-color: #414141;
  --input-hover-color: #666666;
  --input-focus-color: #666666;
  --input-active-color: #666666;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--text-color);
}

input[type="radio"], input[type="checkbox"] {
  -moz-appearance: initial;
}

.container {
  display: flex;
  margin: auto;
  padding: 0 75px;
  width: 100%;
  max-width: 1920px;
}

.btn-main,
.btn-main_small,
.btn-main_extra-small {
  display: block;
  padding: 25px 39.5px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: white;
  background-color: var(--button-color);
  border-radius: 16px;
  transition-property: color background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  &:hover {
    background-color: var(--button-hover-color);
  }
  &:focus-visible {
    background-color: var(--button-focus-color);
    outline: 3px solid var(--button-active-color);
  }
  &:active {
    background-color: var(--button-active-color);
  }
}

.btn-main_small {
  padding: 20px 38px;
  font-size: 16px;
  line-height: 20px;
}
.btn-main_extra-small {
  padding: 13px 28px;
  font-size: 12px;
  line-height: 15px;
  border-radius: 8px;
}

.btn-second {
  display: block;
  padding: 17.5px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: transparent;
  border: 3px solid var(--button2-hover-color);
  border-radius: 16px;
  transition-property: color background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  &:hover {
    background-color: var(--button2-hover-color);
  }
  &:focus-visible {
    background-color: var(--button2-focus-color);
    outline: 3px solid var(--button2-active-color);
  }
  &:active {
    background-color: var(--button2-active-color);
    border: 3px solid var(--button2-active-color);
  }
}

.btn-third {
  display: block;
  padding: 20px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--button3-active-color);
  border: 1px solid var(--button3-active-color);
  background-color: transparent;
  border-radius: 16px;
  transition-property: color background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  &:hover {
    color: var(--button3-color);
    background-color: var(--button3-hover-color);
    border: 1px solid var(--button3-hover-color);
  }
  &:focus-visible {
    color: var(--button3-color);
    background-color: var(--button3-focus-color);
    border: 1px solid var(--button3-focus-color);
    outline: 3px solid var(--button3-active-color);
  }
  &:active {
    color: var(--button3-color);
    background-color: var(--button3-active-color);
    border: 1px solid var(--button3-active-color);
  }
}

.article-header {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--text-color);
}

.card-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.article-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* HEADER  */

.header {
  display: flex;
  align-items: center;
  min-width: 320px;
  height: 100px;
  margin-bottom: 50px;
  background: var(--bg-color);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  .container {
    align-items: center;
  }
  &__burger {
    display: none;
    min-width: 30px;
    height: 24px;
    background: url(/img/icons/burger.svg) center center no-repeat;
    &:hover {
      filter: invert(58%) sepia(100%) saturate(1363%) hue-rotate(359deg) brightness(100%)
        contrast(106%);
    }
    &:focus-visible {
      outline: 2px solid var(--button2-focus-color);
    }
    &:active {
      background: url(/img/icons/burger-active.svg) center center no-repeat;
    }
  }
  &__logo {
    display: none;
    align-items: center;
    margin: 0;
    margin-right: auto;
    cursor: pointer;
  }

  &__navbar {
    display: none;
  }
  &__navbar_close {
    display: none;
    width: 24px;
    height: 24px;
    background: url(/img/icons/close-menu.svg) center center no-repeat;
    &:hover {
      filter: invert(58%) sepia(100%) saturate(1363%) hue-rotate(359deg) brightness(100%)
        contrast(106%);
    }
    &:focus-visible {
      outline: 2px solid var(--button2-focus-color);
    }
    &:active {
      filter: invert(58%) sepia(100%) saturate(1363%) hue-rotate(359deg) brightness(100%)
        contrast(106%);
    }
  }
  &__navbar-list {
    display: flex;
    gap: 85px;
  }
  .nav-gap {
    gap: 20px;
  }
  &__navbar-item {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-color);
    a {
      color: currentColor;
      padding: 4px 0;
      transition: border-bottom 0.2s ease;
      border-bottom: 2px solid transparent;
      &:focus-visible {
        outline: 2px solid var(--button2-focus-color);
      }
      &:hover {
        border-bottom: 2px solid var(--button2-hover-color);
      }

      &:active {
        color: var(--button2-active-color);
        border-bottom: 2px solid currentColor;
      }
    }
  }
  &__search {
    display: none;
    width: 24px;
    height: 24px;
    margin-left: 262px;
    background: url(/img/icons/search.svg) center center no-repeat;
    &:hover {
      filter: invert(58%) sepia(100%) saturate(1363%) hue-rotate(359deg) brightness(100%)
        contrast(106%);
    }
    &:focus-visible {
      outline: 2px solid var(--button2-focus-color);
    }
    &:active {
      filter: invert(58%) sepia(100%) saturate(1363%) hue-rotate(359deg) brightness(100%)
        contrast(106%);
    }
  }
  &__search-container {
    margin-left: 50px;
    display: none;
  }
}

.search-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 18px 18px 32px;
  width: 539px;
  height: 60px;
  background: var(--bg-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  &__buttons-container {
    width: max-content;
  }
  &__input {
    height: 28px;
    flex: 1;
    border: none;
    outline: none;
    border-bottom: 1px solid #cacaca;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    &::placeholder {
      color: #adadad;
    }
  }
  &__search {
    margin-left: 15px;
    width: 24px;
    height: 24px;
    background: url(/img/icons/search.svg) center center no-repeat;
    background-size: contain;
    filter: invert(58%) sepia(100%) saturate(1363%) hue-rotate(359deg) brightness(100%)
      contrast(106%);
    &:focus-visible {
      outline: 2px solid var(--button2-focus-color);
    }
  }
  &__close {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    background: url(/img/icons/close_search.svg) center center no-repeat;
    background-size: contain;

    &:hover {
      filter: invert(58%) sepia(100%) saturate(1363%) hue-rotate(359deg) brightness(100%)
        contrast(106%);
    }
    &:focus-visible {
      outline: 2px solid var(--button2-focus-color);
    }
    &:active {
      filter: brightness(0%);
    }
  }
}

/* MAIN CONTAINER */

.main {
  .container {
    flex-direction: column;
  }
}

/* HERO  */

.hero {
  position: relative;
  padding: 101px 80px 44px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 52px;
  .btn-main_extra-small {
    display: none;
  }
  &__background {
    position: absolute;
    z-index: 0;
    inset: 0 0 0 0;
  }
  .swiper {
    width: 100%;
    height: 100%;
    border-radius: 32px;
  }
  &__image {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
  }
  &__container {
    position: relative;
    z-index: 1;
    margin-bottom: 55px;
    width: fit-content;
  }
  &__heading {
    max-width: 837px;
    margin-bottom: 23px;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: var(--text-hero-color);
  }
  &__description {
    max-width: 837px;
    margin-bottom: 90px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-hero-color);
  }

  .swiper-pagination {
    bottom: 26px;
    &-bullets {
    }
    &-bullet {
      margin: 0 10px !important;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: white;
    }
  }
}

/* SECTION ABOUT  */

.about {
  margin-bottom: 100px;
  &__article {
    max-width: 1235px;
    margin-bottom: 49px;
  }
  &__header {
    margin-bottom: 20px;
  }
  &__description {
  }
  &__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  &__main-card {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 868px;
    border-radius: 32px;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      inset: 0 0 0 0;
      z-index: 0;
      background: url(/img/covers/article.jpg) center center no-repeat;
      background-size: cover;
    }
  }
  &__main-card-caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
  }
  &__main-card-description {
    z-index: 1;
    max-width: 433px;
    font-weight: 700;
    color: var(--text-hero-color);
  }

  &__main-card-btn {
    z-index: 1;
  }

  &__cards-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 870px;
  }
  &__card {
    position: relative;
    padding: 62px 115px 64px 299px;
    border: 1px solid black;
    border-radius: 32px;
    &::before {
      content: '';
      position: absolute;
      top: 63px;
      left: 59px;
      width: 190px;
      height: 165px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &__card-header {
    margin-bottom: 7px;
  }

  &__card-description {
  }
  &_box-img {
    &::before {
      background-image: url(/img/icons/box.svg);
    }
  }
  &_gear-img {
    &::before {
      background-image: url(/img/icons/gear.svg);
    }
  }
}

.how-work {
  margin-bottom: 110px;
  &__section-header {
    margin-bottom: 51px;
  }
  &__steps-container {
    display: flex;
    gap: 80.5px;
    height: 22px;
    margin-bottom: 45px;
  }
  &__step {
    position: relative;
    width: 55px;

    &:hover {
      color: var(--button-hover-color);
    }
    &:focus-visible {
      outline: 3px solid var(--button-hover-color);
    }

    &:active {
      color: var(--button-active-color);
    }
    &::after {
      position: absolute;
      top: -1px;
      font-size: 18px;
      line-height: 22px;
      width: 55px;
      height: 24px;
      background-color: var(--bg-color);
    }

    &:nth-child(1):after {
       content: '1 шаг';
    }
    &:nth-child(2):after {
       content: '2 шаг';
    }
    &:nth-child(3):after {
       content: '3 шаг';
    }
    &:nth-child(4):after {
       content: '4 шаг';
    } 
  }
 
  &__article-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 142px;
  }
  &__article-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 758px;
  }
  &__article {
    display: none;
  }
  &__article-header {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  &__article-description {
    margin-bottom: 49px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  &__btns-container {
    display: flex;
    gap: 32px;
  }
  &__btn-more {
    width: 175px;
  }
  &__btn-contract {
    width: 147px;
  }
  &__article-img {
    display: none;
    position: relative;
    width: 870px;
    min-width: 437px;
    height: 460px;
    border-radius: 32px;
    object-fit: cover;
    overflow: hidden;
    align-self: center;
  }
  .active {
    display: block;
    &::after {
      color: var(--button-active-color);
    }
  }
}

.faq {
  margin-bottom: 100px;
  &__header {
    margin-bottom: 32px;
  }
  &__container {
  }
  &__question-block {
    &[open] {
      .faq__question {
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
    &:last-child {
      &[open] {
        .faq__question {
          border-bottom: unset;
        }
      }
      .faq__question {
        border-bottom: 1px solid #cacaca;
      }
    }
  }
  &__question {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 111px;
    padding-right: 150px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    border-top: 1px solid #cacaca;
    list-style: none;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      width: 50px;
      height: 50px;
      background: url(/img/icons/plus.svg) center center no-repeat;
      background-color: #cacaca;
      border-radius: 50%;
      transition: transform 0.2s ease;
    }
  }
  &__answer {
    max-width: 1000px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
}

.footer {
  padding: 50px 0;
  padding-top: 47px;
  background-color: var(--footer-bg-color);
  .container {
    display: flex;
    align-items: center;
  }
  &__header {
  }
  &__logo {
    padding-top: 2.5px;
    margin-bottom: 17px;
  }
  &__navbar {
    margin-bottom: 90px;
  }
  &__navbar-list {
  }
  &__navbar-item {
  }
  &__navbar-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: var(--text-footer-color);
  }
  &__socials-container {
    display: flex;
    gap: 25px;
  }
  &__socials-link {
  }
  &__socials-icon {
  }
  &__form {
    margin-left: 350px;
  }
  &__text {
    margin-left: auto;
    max-width: 363px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-footer-color);
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__header {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--text-footer-color);
    margin-bottom: 25px;
  }
  &__userdata,
  &__message {
    padding: 14px 24px;
    font-size: 16px;
    line-height: 32px;
    color: var(--text-footer-color);
    background-color: var(--input-color);
    border-radius: 16px;
    outline: none;
    border: none;
    margin-bottom: 25px;
    &::placeholder {
      color: var(--text-footer-color);
    }
    &:hover {
      background-color: var(--input-hover-color);
    }
    &:focus {
      background-color: var(--input-focus-color);
    }
    &:active {
      background-color: var(--input-active-color);
    }
  }
  &__message {
    height: 150px;
    resize: none;
    color: var(--text-footer-color);
    margin-bottom: 32px;
  }
  &__btn-container {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  &__btn {
    padding: 19px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  &__terms-agree {
    color: var(--text-footer-color);
  }
  &__check {
    position: relative;
    top: -12px;
    width: 0;
    height: 0;
    margin-right: 18px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 12px;
      height: 12px;
      border: 1px solid var(--text-footer-color);
      border-radius: 3px;
    }
    &:checked {
      &:before {
        background: url(/img/icons/check.svg) center center no-repeat;
      }
    }
  }
}

@media (max-width: 1919px) {
  .about {
    &__cards-wrapper {
      justify-content: center;
    }
    &__main-card {
      height: 640px;
    }
  }
}

@media (max-width: 1750px) {
  .footer {
    .container {
      justify-content: space-between;
    }
    &__form {
      margin-left: auto;
    }
  }
}

@media (max-width: 1400px) {
  .header {
    &__navbar-list {
      gap: 50px;
    }
    &__navbar-item {
    }
    &__search {
      margin-left: 100px;
    }
  }

  .about {
    &__article {
      margin-bottom: 59px;
    }
    &__main-card {
      height: 640px;
    }
  }

  .how-work {
    &__steps-container {
      margin-bottom: 50px;
    }
    &__article-wrapper {
      gap: 50px;
    }
    &__article-description {
      margin-bottom: 24px;
    }
    &__article-img {
      height: unset;
      padding-top: 11px;
      align-self: stretch;
    }
  }

  .footer {
    &__form {
      margin-left: unset;
    }
    &__text {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }

  .header {
    margin-bottom: 40px;
    .container {
      gap: 50px;
    }
    &__burger {
      display: block;
    }
    &__logo {
      margin-right: unset;
      margin: auto;
      width: 150px;
    }

    &__navbar {
      display: none;
      position: fixed;
      z-index: 9990;
      inset: 0 0 0 0;
      padding: 38px 50px;
      overflow-y: scroll;
      background-color: var(--bg-color);
    }
    &__navbar_close {
      display: block;
      margin-bottom: 108px;
    }
    &__navbar-list {
      flex-direction: column;
      gap: 60px;
    }
    &__navbar-item {
      font-size: 24px;
      line-height: 29px;
      font-weight: 700;
    }
    &__search {
      margin-left: unset;
    }
  }

  .hero {
    padding: 160px 77px 44px;
    margin-bottom: 37px;
    &__container {
      margin-bottom: 115px;
    }
    &__heading {
      margin-bottom: 16px;
      font-size: 60px;
      line-height: 73px;
    }
    &__description {
      margin-bottom: 60px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .about {
    margin-bottom: 80px;
    &__main-card {
      max-width: 100%;
    }
    &__main-card-description {
      line-height: 31.7px;
    }
    &__cards-container {
      max-width: 100%;
    }
    &__card {
      padding-right: 150px;
      padding-left: 316px;
      &::before {
        left: 76px;
      }
    }
  }

  .how-work {
    margin-bottom: 80px;
  }

  .faq {
    margin-bottom: 81px;
    &__header {
      margin-bottom: 30px;
    }

    &__question-block {
      &:nth-of-type(2n) {
        .faq__question {
          height: 125px;
        }
      }
    }
    &__question {
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
    }
    &__answer {
      padding-right: 100px;
    }
  }

  .footer {
    padding: 46px 0;
    &__form {
      max-width: 541px;
    }
    &__text {
      display: none;
    }
  }

  .form {
    &__btn {
      padding: 19px 38px;
    }
  }
}

@media (max-width: 992px) {
  .how-work {
    margin-bottom: 48px;
    &__section-header {
      margin-bottom: 49px;
    }
    &__steps-container {
      gap: 151.8px;
      margin-bottom: 49px;
    }
    &__article-wrapper {
      flex-direction: column-reverse;
      gap: 39px;
    }
    &__article-img {
      padding: 0;
      width: 100%;
      max-height: 284px;
      align-self: unset;
      border-radius: 24px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 69px;
    border-radius: 0px 0px 24px 24px;
    &__navbar {
      padding-top: 22px;
    }
  }

  .hero {
    padding: 160px 40px 44px;
    .swiper {
      border-radius: 24px;
    }
    &__image {
      border-radius: 24px;
    }
    &__heading {
      font-size: 50px;
      line-height: 61px;
    }
    &__description {
      font-size: 18px;
      line-height: 22px;
    }
  }
  .about {
    margin-bottom: 81px;
    &__article {
      margin-bottom: 54px;
    }
    &__main-card {
      height: 650px;
      border-radius: 24px;
    }
    &__main-card-description {
      max-width: 366px;
    }
    &__main-card-caption {
      padding: 34px 40px;
      border-radius: 24px;
    }
    &__cards-container {
      width: 100%;
    }
    &__card {
      padding: 33px 35px 33px 169px;
      border-radius: 24px;
      &::before {
        top: 67px;
        left: 39px;
        width: 114px;
        height: 99px;
      }
    }
    &__card-header {
      max-width: 100%;
    }

    &__card-description {
      max-width: 100%;
    }
  }

  .faq {
    margin-bottom: 112px;
    &__header {
      margin-bottom: 31px;
    }
    &__container {
    }
    &__question-block {
      &:not(:first-of-type) {
        .faq__question {
          height: 125px;
        }
      }
    }
    &__question {
      padding-right: 95px;
      &::after {
      }
    }
    &__answer {
      padding-right: 95px;
    }
  }

  .footer {
    padding-top: 51px;
    .container {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 46px;
    }
    &__logo {
      margin-bottom: 12px;
    }
    &__navbar {
      display: none;
    }
  }

  .form {
    &__btn-container {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 576px) {
  .article-header {
    font-size: 24px;
    line-height: 29px;
  }

  .card-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .card-description {
    font-size: 14px;
    line-height: 28px;
  }

  .container {
    padding: 0 15px 0 15px;
  }

  .header {
    margin-bottom: 30px;
    border-radius: 0px 0px 16px 16px;

    &__logo {
      width: 110px;
    }
    &__navbar_close {
      margin-bottom: 32px;
    }
    &__navbar {
      padding-left: 15px;
      padding-right: 15px;
    }
    &__navbar-list {
      gap: 32px;
    }
    &__navbar-item {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }
    &__search-container {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 69px;
      margin-left: 0;
      border-radius: 0 0 16px 16px;
    }
  }

  .search-container {
    padding: 21px 15px;
    &__search {
      margin-left: 0;
    }
    &__close {
      margin-left: 20px;
    }
  }

  .hero {
    padding: 60px 22px 24px;
    margin-bottom: 60px;
    .swiper {
      border-radius: 16px;
    }
    .btn-main {
      display: none;
    }
    .btn-main_extra-small {
      display: block;
    }
    &__btn {
      margin: auto;
    }
    &__image {
      border-radius: 16px;
    }
    &__container {
      margin-bottom: 35px;
    }
    &__heading {
      margin-bottom: 7px;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
    &__description {
      margin-bottom: 33px;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
    }
    .swiper-pagination {
      bottom: 11px;
      &-bullets {
      }
      &-bullet {
        width: 10px;
        height: 10px;
      }
    }
  }

  .about {
    margin-bottom: 61px;
    &__article {
      margin-bottom: 14px;
    }
    &__header {
      font-size: 24px;
      line-height: 29px;
    }
    &__description {
      font-size: 14px;
      line-height: 28px;
    }
    &__main-card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 200px max-content;
      gap: 8px;
      border-radius: unset;
      height: 100%;
      &::before {
        max-height: 200px;
        border-radius: 16px;
      }
    }
    &__main-card-description {
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      color: #000000;
    }
    &__main-card-caption {
      grid-row: 2 /3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      padding: 0%;
      background-color: transparent;
    }
    &__main-card-btn {
      padding: 10px 41.3px;
      font-size: 12px;
      line-height: 15px;
      border: 2px solid var(--button-color);
      border-radius: 8px;
      color: var(--button-color);
      &:hover {
        color: var(--bg-color);
      }
      &:focus {
        color: var(--bg-color);
      }
      &:active {
        color: var(--bg-color);
      }
    }

    &__cards-container {
    }
    &__card {
      border: unset;
      padding: 0;
      padding-top: 61px;
      &::before {
        width: 64px;
        height: 49px;
        top: 0;
        left: 0;
      }
    }
    &_box-img {
      &::before {
        background-image: url(/img/icons/box-sm.svg);
      }
    }
    &_gear-img {
      &::before {
        background-image: url(/img/icons/gear-sm.svg);
      }
    }
    &__card-header {
      margin-bottom: 4px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.2px;
    }

    &__card-description {
      font-size: 14px;
      line-height: 28px;
    }
  }

  .how-work {
    margin-bottom: 60px;
    &__section-header {
      margin-bottom: 22px;
      font-weight: 400;
    }
    &__steps-container {
      margin-bottom: 9px;
      gap: 42px;
    }
    &__step {
      &::after {
        font-size: 14px;
        line-height: 17px;
      }
    }
    &__article-wrapper {
      gap: 16px;
    }
    &__article-container {
    }
    &__article-header {
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.1px;
    }
    &__article-description {
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 25px;
    }
    &__btns-container {
      gap: 10px;
    }
    &__btn-more {
      padding: 12px 44px;
      width: 162px;
      height: 39px;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      border-radius: 8px;
    }
    &__btn-contract {
      padding: 11px 31px;
      height: 39px;
      width: 118px;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      border-radius: 8px;
    }
    &__article-img {
      min-width: 290px;
      max-height: 160px;
      border-radius: 16px;
    }
  }

  .faq {
    margin-bottom: 60px;
    &__header {
      margin-bottom: 16px;
    }
    &__question-block {
      &:not(:first-child) {
        .faq__question {
          height: 133.2px;
        }
      }
      &:last-child {
        .faq__question {
          height: 109px;
        }
      }
    }
    &__question {
      padding-right: 45px;
      height: 109px;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.1px;
      &::after {
        width: 30px;
        height: 30px;
        background-size: 19px;
      }
    }
    &__answer {
      padding-right: 0;
    }
  }

  .footer {
    padding: 33px 0;
    .container {
      align-items: center;
      gap: 16px;
    }
    &__logo {
      padding: 0;
      width: 131px;
      height: 42px;
    }
    &__socials-container {
      justify-content: center;
      gap: 16px;
    }
    &__socials-link {
    }
    &__socials-icon {
      width: 40px;
      height: 40px;
    }
    &__form {
      width: 100%;
    }
  }

  .form {
    border-bottom: 1px solid #414141;
    &__header {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 29px;
    }
    &__userdata,
    &__message {
      padding-left: 21px;
      height: 60px;
      border-radius: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 32px;
    }
    &__message {
      height: 150px;
      margin-bottom: 25px;
    }
    &__btn-container {
      gap: 13px;
      margin-bottom: 15px;
    }
    &__btn {
      padding: 12px 27px;
      width: 180px;
      height: 39px;
      font-size: 12px;
      line-height: 15px;
      border-radius: 8px;
    }
    &__terms-agree {
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
    }
  }
}

.active {
  display: block;
}

.activeFlex {
  display: flex;
}
